{%- if section.settings.show_title and page.title.size > 0 -%}
  <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <div class="title-wrapper title-wrapper--page-width">
      <h1 class="title {{ section.settings.heading_size }}">
        {{ section.settings.custom_title | default: page.title }}
      </h1>
      {% if section.settings.header_text != blank %}
        <div class="header-text rte">
          {{ section.settings.header_text }}
        </div>
      {% endif %}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "VHS Page Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show page title"
    },
    {
      "type": "text",
      "id": "custom_title",
      "label": "Custom title",
      "info": "Leave blank to use page title"
    },
    {
      "type": "richtext",
      "id": "header_text",
      "label": "Header text",
      "info": "Add optional text below the title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h0",
          "label": "Extra Large"
        },
        {
          "value": "h1",
          "label": "Large"
        },
        {
          "value": "h2",
          "label": "Medium"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    }
  ]
}
{% endschema %}

<style>
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
</style>
